snippet maintemplate
#include <iostream>
#include <array>
#include <vector>
#include <map>

#define endl '\n'

using namespace std;

int main() {
    ios_base::sync_with_stdio(false);
    cin.tie(NULL); cout.tie(NULL);



	return 0;
}
endsnippet
